/dset/
/derivatives/
/.DS_Store
/decoding/.DS_Store
/optimized-rois/
/ABIDE CNNI Tables.pdf
/ABIDE CNNI Tables/
/Authorship-Change-Consent.pdf
/Hampson-Manuscript-preprint.pdf
/Hampson-Supplement-preprint.pdf
/Hampson-Tables-preprint.docx
/Hand-Drawn Habenula CCNI Tables.docx
/Hand-Drawn Habenula CNNI Figures.zip
/Hand-Drawn Habenula CNNI Figures/
/abide_habenula_figs.pdf
/abide_habenula_figs/
/abide_habenula_figs_redo.pdf
/habenula-rois.ipynb
/subj-spec-avghbconn.png
/Rplots.pdf